@import "sanitize.css";

$c-b: #333;
$c-f: #fff;
$c-bc: #eee;
$p-10: 10px;
$p-20: 20px;

body {
  font-family: "Cabin", "Segoe UI", "Tahoma", "Verdana", sans-serif;
  padding: $p-20;
}

// form
.form {
  margin: 0 auto;
  border: solid 3px $c-b;
  max-width: 780px;
  width: 100%;
  padding: $p-20;

  &__list {
    display: flex;
    margin: 0 0 20px;
    &--title {
      font-weight: bold;
      width: 30%;
      cursor: pointer;
    }
    &--field {
      width: 70%;
    }
  }
  &__btn {
    text-align: center;
  }
}

// input,textarea
.input-field {
  width: 100%;
  padding: $p-10;
  border: 2px solid $c-b;
}

// button
.btn {
  background-color: $c-b;
  color: $c-f;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  padding: 7px 20px;
  cursor: pointer;
  transition: opacity 0.25s;

  &:hover {
    opacity: 0.8;
  }
}

// link
.link {
  text-align: right;
  margin: 10px 0 0;
  & > a {
    margin: 0 5px;
    color: $c-b;
  }
}

// table
.table {
  width: 100%;
  &__head {
    background-color: $c-bc;
    & th {
      border: 1px solid $c-b;
      text-align: center;
      padding: 5px;
      width: 15%;

      &:nth-child(4) {
        width: 55%;
      }
    }
  }
  &__body td{
    text-align: left;
    border: 1px solid $c-b;
    padding: 10px;
  }
}
